@import '../../../../node_modules/bootstrap/less/bootstrap.less';
@import '../../../../src/less/index.less';

.single-icon {
  text-align: center;

  & > div {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .form-inline {
    text-align: left;

    .form-group {
      margin-right: 10px;
      display: inline;
    }

    input {
      margin-left: 5px;
    }
  }
}

.thumbnail {
  text-align: center;
  border: none;

  & > div {
    border: 1px solid #ccc;
    height: 110px;
  }

  .licon {
    margin-top: 9px;
  }

  p {
    margin: 0;
    font-size: 11px;
  }
}

@media all and (min-width: @screen-xs-min) {
  .thumbnail {
    p {
      font-size: 12px;
    }
  }
}
