/* @group Base Styles */

.baseLiconInner() {
  content: ' ';
  display: block;
  position: absolute;
}

.baseLicon(@size) {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: @size;
  height: @size;
  cursor: pointer;
  border: 1px solid @licon-bg;
  .boxSizing(border-box);
  .transition(ease-in-out background-color 0.1s);

  span,
  &::before,
  &::after {
    .boxSizing(border-box);
    .transition(ease-in-out all 0.2s);
    .baseLiconInner();
  }
}

/* @end Base Styles */

/* @group Icons */

.generateLicons(@class-name, @size, @line-width, @border-radius, @border-width) {

  @inner-size: @size - (@border-width * 2);

  .@{class-name} {
    .baseLicon(@size);
    background-color: @licon-bg;

    &.licon-rounded {
      border-radius: @border-radius;
    }

    &.licon-round {
      border-radius: 50%;
    }

    &.licon-border {
      border: @border-width solid @licon-border-color;
    }

    &:hover {
      background-color: @licon-bg-hover;
    }

    &:active {
      background-color: @licon-bg-active;
      .transition(ease-in-out background-color 0s);
    }

    &.licon-menu {
      span {
        top: round(@inner-size * 0.5);
        left: round(@inner-size * 0.2);
        margin-top: -@line-width / 2;
        width: @inner-size * 0.6;
        height: 0;
        border-top: @line-width solid @licon-color;
      }

      &::before {
        top: round(@inner-size * 0.35);
        left: round(@inner-size * 0.2);
        margin-top: -@line-width / 2;
        width: @inner-size * 0.6;
        height: 0;
        border-top: @line-width solid @licon-color;
      }

      &::after {
        top: round(@inner-size * 0.65);
        left: round(@inner-size * 0.2);
        margin-top: -@line-width / 2;
        width: @inner-size * 0.6;
        height: 0;
        border-top: @line-width solid @licon-color;
      }
    }

    .chevronHorizontalBase() {
      span {
        top: round(@inner-size * 0.3);
        left: round(@inner-size * 0.3);
        width: @inner-size * 0.4;
        height: @inner-size * 0.4;
        border-top: @line-width solid @licon-color;
        border-left: @line-width solid @licon-color;
        .transformOrigin(50% 50%);
      }
    }

    &.licon-chevron-left {
      .chevronHorizontalBase();

      span {
        margin-left: @inner-size * 0.1;
        .transform(rotate(-45deg));
      }
    }

    &.licon-chevron-right {
      .chevronHorizontalBase();

      span {
        margin-left: @inner-size * -0.1;
        .transform(rotate(180 - 45deg));
      }
    }

    &.licon-chevron-up {
      .chevronHorizontalBase();

      span {
        margin-top: @inner-size * 0.1;
        .transform(rotate(45deg));
      }
    }

    &.licon-chevron-down {
      .chevronHorizontalBase();

      span {
        margin-top: @inner-size * -0.1;
        .transform(rotate(180 + 45deg));
      }
    }

    &.licon-bookmark {
      span {
        top: round(@inner-size * 0.2);
        left: round(@inner-size * 0.3);
        border-top: round(@inner-size * 0.4) solid @licon-color;
        border-left: round(@inner-size * 0.2) solid @licon-color;
        border-right: round(@inner-size * 0.2) solid @licon-color;
        border-bottom: round(@inner-size * 0.2) solid transparent;
      }
    }

    .arrowHorizontalBase() {
      span {
        top: round(@inner-size * 0.5);
        left: round(@inner-size * 0.2);
        margin-top: -@line-width / 2;
        width: @inner-size * 0.6;
        height: 0;
        border-top: @line-width solid @licon-color;
        .transformOrigin(@inner-size * 0.3 @line-width / 2)
      }

      &::before {
        top: round(@inner-size * 0.5);
        left: round(@inner-size * 0.2);
        margin-top: -@line-width / 2;
        width: @inner-size * 0.3;
        height: @inner-size * 0.3;
        border-top: @line-width solid @licon-color;
        border-left: @line-width solid @licon-color;
        .transformOrigin(@line-width / 2 @line-width / 2);
        .transform(rotate(-45deg));
      }
    }

    &.licon-arrow-left {
      .arrowHorizontalBase();
    }

    &.licon-arrow-right {
      .arrowHorizontalBase();

      span {
        .transform(rotate(180deg));
      }

      &::before {
        left: round(@inner-size * 0.8);
        .transform(rotate(180 - 45deg));
      }
    }

    &.licon-arrow-up {
      .arrowHorizontalBase();

      span {
        .transform(rotate(90deg));
      }

      &::before {
        top: round(@inner-size * 0.2);
        left: round(@inner-size * 0.5);
        margin-left: -@line-width / 2;
        .transform(rotate(45deg));
      }
    }

    &.licon-arrow-down {
      .arrowHorizontalBase();

      span {
        .transform(rotate(180 + 90deg));
      }

      &::before {
        top: round(@inner-size * 0.8);
        left: round(@inner-size * 0.5);
        margin-left: -@line-width / 2;
        .transform(rotate(180 + 45deg));
      }
    }

    &.licon-wifi {
      span {
        border-radius: 50%;
        border: @line-width solid transparent;
        border-top: @line-width solid @licon-color;
        top: @inner-size * 0.3;
        left: 0;
        marign-top: @line-width / 2;
        width: @inner-size;
        height: @inner-size;
      }

      &::before {
        border-radius: 50%;
        border: @line-width solid transparent;
        border-top: @line-width solid @licon-color;
        top: @inner-size * 0.5;
        left: @inner-size * 0.2;
        marign-top: @line-width / 2;
        width: @inner-size * 0.6;
        height: @inner-size * 0.6;
      }

      &::after {
        border-radius: 50%;
        border: @line-width solid transparent;
        border-top: @line-width solid @licon-color;
        top: @inner-size * 0.7;
        left: @inner-size * 0.4;
        marign-top: @line-width / 2;
        width: @inner-size * 0.2;
        height: @inner-size * 0.2;
      }
    }

    .circleSquareBase() {
      span {
        top: @inner-size * 0.2;
        left: @inner-size * 0.2;
        width: @inner-size * 0.6;
        height: @inner-size * 0.6;
        border: @line-width solid @licon-color;
      }
    }

    &.licon-circle {
      .circleSquareBase();

      span {
        border-radius: 50%;
      }
    }

    &.licon-square {
      .circleSquareBase();
    }

    &.licon-rounded-square {
      .circleSquareBase();

      span {
        border-radius: @inner-size * 0.15;
      }
    }

  }

}

/* @end Icons */

/* @group Generate Licon Sizes */

.generateLicons(licon, @licon-size-base, @licon-line-width-base, @licon-border-radius-base, @licon-border-width-base);
.generateLicons(licon-small, @licon-size-small, @licon-line-width-small, @licon-border-radius-small, @licon-border-width-small);
.generateLicons(licon-large, @licon-size-large, @licon-line-width-large, @licon-border-radius-large, @licon-border-width-large);

/* @end Generate Licon Sizes */
