.boxSizing(@value) {
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  box-sizing: @value;
}

.transition(@value) {
  -webkit-transition+: @value;
  -moz-transition+: @value;
  -ms-transition+: @value;
  -o-transition+: @value;
  transition+: @value;
}

.transitionTransform(@value) {
  -webkit-transition+: @value -webkit-transform;
  -moz-transition+: @value -moz-transform;
  -ms-transition+: @value -ms-transform;
  -o-transition+: @value -o-transform;
  transition+: @value transform;
}

.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}

.transformOrigin(@value) {
  -webkit-transform-origin: @value;
  -moz-transform-origin: @value;
  -ms-transform-origin: @value;
  -o-transform-origin: @value;
  transform-origin: @value;
}
