.boxSizing(@value) {
  -webkit-box-sizing: @value;
  -moz-box-sizing: @value;
  box-sizing: @value;
}

.transition(@value) {
  -webkit-transition+: @value;
  -moz-transition+: @value;
  -ms-transition+: @value;
  -o-transition+: @value;
  transition+: @value;
}

.transition2(@value1, @value2) {
  -webkit-transition+: @value1, @value2;
  -moz-transition+: @value1, @value2;
  -ms-transition+: @value1, @value2;
  -o-transition+: @value1, @value2;
  transition+: @value1, @value2;
}

.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}

.transformOrigin(@value) {
  -webkit-transform-origin: @value;
  -moz-transform-origin: @value;
  -ms-transform-origin: @value;
  -o-transform-origin: @value;
  transform-origin: @value;
}
